In [1]:
import pandas as pd

file_name = "transactions.csv"

dataset = pd.read_csv(file_name)

dataset

    tn_id  computer  software
0       1         0         0
1       2         1         0
2       3         0         0
3       4         0         1
4       5         1         1
5       6         1         0
6       7         0         1
7       8         1         1
8       9         1         0
9      10         0         1
10     11         1         1
11     12         0         0
12     13         1         1
13     14         1         0

In [3]:
tot = len(dataset)
count_computer = 0
count_software = 0
count_comp_soft = 0
for row in dataset.itertuples():
    count_computer += row.computer
    count_software += row.software
    if row.computer == 1 and row.software == 1:
        count_comp_soft += 1

print("tot=%d, count_computer=%d, count_software=%d, count_comp_soft=%d" % 
      (tot, count_computer, count_software, count_comp_soft))

tot=14, count_computer=8, count_software=7, count_comp_soft=4

In [4]:
support = count_computer / tot
support

0.5714285714285714

In [5]:
confidence = count_comp_soft / count_computer
confidence

0.5